

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <p>
      <%= link_to user.username, user %>
    </p>

    <% if current_user && current_user.admin && user.frozen %>
      <span class="badge bg-primary me-1">
        closed
      </span>
    <% end %>
  <% end %>
</div>
