

<%= render @style %>

<h4>beers</h4>
<ul>
  <% @style.beers.each do |beer| %>
    <li><%= link_to beer.name, beer_path(beer) %></li>
  <% end %>
</ul>

<% if current_user&.admin? %>
  <%= edit_and_destroy_buttons(@style) %>
<% end %>
